.quote-banner-main {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid EEEEEE;
    border-radius: 12px;
    min-height: 100px;
    min-width: 400px;
    position: absolute;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    left: 50%;
    transform: translateX(-50%);
}